.robotsAreCool{
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
}

.robots{
  width: 30vw;
  height 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
